.banner{
    padding: 5em 18em;
    text-align: center;
}

.banner__span{
    color: var(--bordo);
    font-size: 16px;
    font-weight: 600;
}

.banner__titulo{
    color: var(--preto-titulo);
    font-size: 48px;
    font-weight: 600;
    padding: 0.7em 0;
}

.banner__paragrafo{
    color: var(--cinza-claro);
    line-height: 30px;
}